@media (min-width: 750px){
    
.divfooter{
    width: 30vw;
    height: 30vh;
    position: relative;
    left: 5vh;
}
.divfooter:nth-child(3){
    width: 30vw;
    height: 30vh;

}
.logotipo{
    left: 30px;
}
header>img{
    right: 30px;
}}